    h1 {
        color: rgb(15, 17, 20);
        font-size: 36px;
    }
    p {
        font-size: 24px;
        font-weight: bold;
    }
    ul li {
        color: rgb(0, 0, 0);
        list-style: disc;
    }

    body.rosa-fondo {
        background-color: rgb(173, 22, 123);
    }
    
    body.rosa-texto {
        color: pink;
    }
