body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

#cargarImagen {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#cargarImagen:hover {
    background-color: #45a049;
}

#imagenContainer {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
}