body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

h1 {
    text-align: center;
    background-color: #d40f4a;
    color: #fff;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

strong {
    color: #991426;
}

/* Hover effect on list items */
li:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}